<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <title>SpellCast Solver</title>
        <script>
            function change_color(id) {
                document.getElementById(id).classList.add('red');
            }
            function change_color_back(id) {
                document.getElementById(id).classList.remove('red');
            }
            function pick_word(answer) {
                const allElements = document.querySelectorAll('*');
                allElements.forEach((element) => {
                element.classList.remove('highlight_dark', 'highlight_light');
                });
                const str = answer;
                const arr = JSON.parse(str);
                document.getElementById(arr[0]).classList.add('highlight_dark')
                for (let i = 1; i < (arr.length); i++) {
                    document.getElementById(arr[i]).classList.add('highlight_light')
                };
            }
            function reset_button() {
                var all_inputs = document.querySelectorAll('input[type="text"]');
                all_inputs.forEach(function (input) {
                    input.value = '';
                });
                var answer = document.querySelector('.answer');
                if (answer) {
                    answer.style.display = 'none';
                }
                const allElements = document.querySelectorAll('*');
                allElements.forEach((element) => {
                element.classList.remove('highlight_dark', 'highlight_light');
                });
            }
            document.addEventListener("DOMContentLoaded", function () {
                var text_box = document.getElementsByName('1')[0];
                text_box.focus();
            });
            function move_to_next_input(current_input, next_input_id) {
                var next_text_box = document.getElementsByName(next_input_id)[0];
                if (next_text_box) {
                    if (current_input.value.length === 1) {
                    next_text_box.focus();
                    }
                }
            }
            function special_block(element) {
                if (event.target.tagName.toLowerCase() !== 'input') {
                    const classes = ['normal_block', 'double_letter', 'triple_letter', 'double_points'];

                    for (let i = 0; i < classes.length; i++) {
                    const currentClass = classes[i];
                    const nextClass = classes[(i + 1) % classes.length];
                
                        if (element.classList.contains(currentClass)) {
                            element.classList.remove(currentClass);
                            element.classList.add(nextClass);
                            break;
                        }
                    }
                }
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1>SpellCast Solver</h1>           
                <form action="/" method="post">
                    <table class="center">
                            {% set count = namespace(value=1) %}
                            {% for i in range(5) %}
                            <tr class="letters">
                                {% for i in range(5) %}
                                    {% if post %}
                                        <td  id={{ count.value }} class="letters normal_block" onclick="special_block(this)"><input name={{ count.value }} maxlength ="1" size="1" autocomplete="off" type="text" oninput="move_to_next_input(this, '{{ count.value + 1 }}')" value={{ letters_array[count.value - 1] }} ></td>
                                    {% else %}
                                        <td class="letters normal_block" onclick="special_block(this)"><input name={{ count.value }} placeholder={{ count.value }} maxlength="1" size="1" autocomplete="off" type="text" oninput="move_to_next_input(this, '{{ count.value + 1 }}')"></td>
                                    {% endif %}
                                {% set count.value = count.value + 1 %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                    </table>
                    <p></p>
                    <div class="center">
                        <input name="test" type="hidden" value="15">
                        <div class="center buttons">
                            <button id="findWords" type="submit" name="test" value="15">Find words</button>
                            <button id="resetButton" type="button" onclick="reset_button()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="answer">
                    {% set count = namespace(value=26) %}
                    {% for answer in answers %}
                        <span id= {{ count.value }} onclick="pick_word( '{{ answers[answer][0] }}' )" onmouseenter="change_color('{{ count.value }}')" onmouseleave="change_color_back('{{ count.value }}')">{{ answer }} ({{ answers[answer][1] }}), </span>
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>