<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">
                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <form action="/" method="post">
                    <input name="name" type="text" placeholder="Name" autocomplete="off">
                    <input name="day" type="text" placeholder="Day" autocomplete="off" maxlength="2" size="2">
                    <input name="month" type="text" placeholder="Month" autocomplete="off" maxlength="2" size="2">
                    <button type="submit">Add Birthday</button>
                </form>
            </div>
            <p>{{ note }}</p>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        {% for birthday in birthdays %}
                            <tr>
                                {% if birthday['id'] == edit_id %}
                                <form action="/change" method="post">
                                    <td><input name="changed_name" type="text" placeholder="{{ birthday['name'] }}" autocomplete="off"></td>
                                    <td><input name="changed_day" type="text" placeholder="{{ birthday['day'] }}" autocomplete="off" maxlength="2" size="2">/<input name="changed_month" type="text" placeholder="{{ birthday['month'] }}" autocomplete="off" maxlength="2" size="2"></td>
                                    <input name="changed_id" type="hidden" value=" {{ birthday['id'] }}">
                                    <td><button type="submit">Change</button>
                                </form>
                                    </td>
                                {% else %}
                                    <td>{{ birthday['name'] }}</td>
                                    <td>{{ birthday['day'] }}/{{ birthday['month'] }} </td>
                                    <td>
                                        <form class=inline action="/remove" method="post">
                                            <input name="id" type="hidden" value=" {{ birthday['id'] }}">
                                            <button type="submit">Remove</button>
                                        </form>
                                        <form class=inline action="/edit" method="post">
                                            <input name="id" type="hidden" value=" {{ birthday['id'] }}">
                                            <button type="submit">Edit</button>
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
