{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Archive Listings</h2>
    {% for auction in auctions %}
        {% if auction.active == False %}
            <ul class="listings">
                <li>
                    <div class="title"><b>Title: <a href="{% url 'auction' auction.id %}">{{ auction.auction_title }}</b></a></div>
                    <div class="categorie"><b>Categorie:</b> {{ auction.categorie }}</div>
                    <div class="owner"><b>Listing owner:</b> {{ auction.auction_user }}</div>
                    {% if auction.auction_picture %}
                        <img src="{{ auction.auction_picture }}" alt="Picture" width="200">
                    {% endif %}
                    <div class="description"><b>Description:</b> {{ auction.auction_description }}</div>
                    <div class="price"><b>Current price: {{ auction.current_price }}$</b></div>
                </li>
            </ul>
        {% endif %}
    {% endfor %}
{% endblock %}